
html {
  background: black;
}

body {
  font-size: 14px;
  color: white;
  font-family: Georgia, Serif;
  margin: 0;
  padding: 0;
}

table td {
  padding: 0;
}

a {
  color: #BFF;
  text-decoration: none;
}
a:hover {
  color: #DFF;
}

header {
  display: block;
  padding: 5px;
}

footer {
  display: block;
  padding: 5px;
}

#wrapper {
  padding: 5px;
}

.error {
  color: red;
}

#cursor {
  position: absolute;
  width: 2px;
  z-index: 10;
  background: red;
}

#drumbox {
  
}

#drumbox .actions {
  text-align: center;
  background: rgba(255,255,255,0.1);
  padding: 4px;
}

#drumbox table.tracks {
  margin: 0 auto;
  padding: 2px;
  background: rgba(255,255,255,0.2);
  -moz-border-radius: 10px 10px 0 0;
}
#drumbox .track .switcher {
  font-size: 0.9em;
  width: 50px;
}
#drumbox .track td.soundLabel {
  font-family: Monospace;
  font-size: 12px;
}
#drumbox .track td.soundVolume {
  width: 40px;
  padding: 0 15px;
}
#drumbox .track td.check {
  width: 15px;
}
#drumbox .track .check input {
  position: relative;
  z-index: 20;
}

#drumbox .options {
  overflow: auto;
  padding: 5px;
  background: rgba(255,255,255,0.2);
}
#drumbox .options label, #drumbox .options select {
  float: left;
  line-height: 2em;
}
#drumbox .options label {
  clear: both;
  font-weight: bold;
  width: 80%;
}
#drumbox .options label:after {
  content: ': ';
}
#drumbox .options select {
  min-width: 20%;;
}
